@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam&display=swap");
header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header ul li {
  margin: 30px;
}
h1 {
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
}
img {
  width: 400px;
}
.container-fluid {
  display: flex;
  justify-content: center;
  background-color: rgb(245, 223, 233);
}

.container img {
  width: 200px;
  border-radius: 50%;
}

.container {
  margin: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

a {
  text-decoration: none;
}

.container h1 {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(238, 139, 194);
}

.container p {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
}

.container-md h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  color: rgba(246, 99, 192, 0.641);
}

.container-md p {
  font-family: "Indie Flower", cursive;
  font-size: 25px;
}

.presentacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentacion h1 {
  font-size: 35px;
  color: rgba(246, 99, 192, 0.641);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.presentacion p {
  font-size: 30px;
  padding: 10xp;
  font-family: "Indie Flower", cursive;
}
footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}


